body {
    background: #ffffff;
    margin: 0;
}

main {
    opacity: 0;
}

/* home section */
#home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
          align-items: center;
    text-align: center;
    height: 100vh;
    color: #ffffff;
  }

  #home .home-thumb {
    text-align: center;
  }
  
  #home .btn {
      background: transparent;
      border: 3px solid #ffffff;
      border-radius: 0px;
      color: #ffffff;
      font-weight: 700;
      letter-spacing: 1px;
      padding: 14px 36px;
      margin-top: 42px;
      margin-right: 16px;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
  }
  
  #home .btn:hover {
    background: #f1c11a;
    color: #ffffff;
    border-color: transparent;
  }
  
  #home .btn-success {
      background: #ffffff;
      color: #242424;
      border-color: transparent;
  }

.swiper-container {
    width: 100%;
    height: 400px;
}

.fadeIn {
    animation: fadein 2s;
    z-index: 1002;
}

.fadeOut {
    animation: fadeout 2s;
}

#loader-wrapper .pre-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    background: #ffffff;
    z-index: 1000;
}

.pre-loader {
    z-index: 1001;
}

.pre-loader span {
    height: 2em;
    width: 2em;
    color: #B19A56;
    position: absolute;
    left: 0;
    top: 0;
    animation: wave 2s ease-in-out infinite;
}

.pre-loader span:nth-child(1) {
    left: -4.5em;
    animation-delay: 0s;
}

.pre-loader span:nth-child(2) {
    left: -1.5em;
    animation-delay: 0.1s;
}

.pre-loader span:nth-child(3) {
    left: 1.5em;
    animation-delay: 0.2s;
}

.pre-loader span:nth-child(4) {
    left: 4.5em;
    animation-delay: 0.3s;
}

@keyframes wave {
    0%,
    75%,
    100% {
        transform: translateY(0) scale(1);
    }
    25% {
        transform: translateY(2.5em);
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}